/**
 * Faq page
 *
 */


.blog-contents {
    width: 1200px;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;

    .blog-contents-top {
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //position: sticky;
        //top: 0;
        //background-color: $primary-color;
        //z-index: 15;

        .blog-contents-top-left {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 15px;

            .blog-contents-top-left-logo {
                // display: flex;
                // justify-content: center;
            }

            .blog-contents-top-left-title {
                display: flex;
                justify-content: center;
                margin-left: 40px;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: $font-size-h1;
                    font-family: $font-family-secondary;
                    font-weight: $font-weight-fifth;

                    dd {
                        display: block;
                        margin-left: 40px;
                    }

                    strong {
                        color: $blue-sea-color;
                        margin: 0 10px 0 0;
                        font-weight: $font-weight-fifth;
                        letter-spacing: $letter-spacing-primary;
                        font-family: $font-family-secondary;
                        font-size: $font-size-h1;
                    }
                }
            }
        }

        .blog-contents-top-right {
            .blog-contents-top-right-logo1 {}
            .blog-contents-top-right-logo2 {}
            .blog-contents-top-right-logo3 {}
        }
    }

    .blog-contents-bottom {
        width: 100%;
        display: flex;
        flex-direction: column;

        .hide-show-content {
            padding: 12px;

            .contents {
                display: flex;
                flex-direction: row;
                width: 100%;
                padding: 15px 90px;

                .content-number {
                    color: $secondary-color;
                    font-size: 58px;
                    font-weight: $font-weight-primary;
                }

                .content-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 40px;

                    &:hover {
                        color: $blue-sea-color;
                    }
                    
                    a {
                        font-family: $font-family-secondary;
                        color: $white-color;
                        font-size: 28px;
                        font-weight: $font-weight-primary;
                        text-decoration: none;
                        letter-spacing: $letter-spacing-primary;
                        opacity: 0.9;
                    }
                }
            }

            .content-show {
                padding: 15px 90px 15px 120px;
                line-height: $line-height-secondary;
                transition: 3000s;
                margin-left: 50px;

                p {
                    dd {
                        border-bottom: 1px solid $secondary-color;
                        padding: 20px 0 30px 0;
                        margin-left: 50px;
                        opacity: 0.8;
                        font-weight: $font-weight-fifth;
                        font-family: $font-family-secondary;
                    }
                }
            }
        }
    }
}
