/**
*   Statistics Page
*   
*/

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: scroll;
    // width: 100%;
    // top: 0;
    // left: 0;
    // color: $white-color;
    // align-items: center;
    // height: 100%;
    // width: 90%;
    // font-size: $font-size-h1;
    // letter-spacing: $letter-spacing-primary;


    .section1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;

        .section1-title {
            font-size: 32px;
            color: $white-color;
            font-weight: $font-weight-primary;
            padding: 30px;
            letter-spacing: $letter-spacing-secondary;

        }


        .section1-row1,
        .section1-row2 {
            display: flex;
            flex-direction: row;

            .row1-total-cases {
                width: 30%;
                margin: 20px 25px;
                padding: 30px;
                // border: 1px solid $blue-sea-color;
                border-radius: 15px;
                background: #121429;
                box-shadow: 20px 20px 60px #0c0d1b,
                -20px -20px 60px #181b37;
                
                // border-radius: 60px;
                text-align: center;

                .total-cases-numbers,
                .deaths-numbers,
                .active-cases-numbers,
                .fatality-rate-numbers,
                .recoveries-numbers,
                .recovery-rate-numbers {
                    font-size: $font-size-h1;
                    color: $white-color;
                    font-weight: $font-weight-primary;
                    padding: 5px;
                    letter-spacing: $letter-spacing-primary;

                }

                .total-cases-title,
                .deaths-title,
                .active-cases-title,
                .fatality-rate-title,
                .recoveries-title,
                .recovery-rate-title {
                    font-size: $font-size-h3;
                    color: $secondary-color;
                    font-weight: $font-weight-secondary;
                    padding: 5px;
                    letter-spacing: $letter-spacing-primary;
                    
                }
            }


        }
    }

    .section2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;

        .section2-title {
            font-size: $font-size-h2;
            color: $white-color;
            font-weight: $font-weight-primary;
            padding: 30px;
            letter-spacing: $letter-spacing-secondary;
            text-transform: $text-transform;

        }

        /*.section2-graph {
            width: 40%;
            height: 100px;
        }*/



    }

    .section3-section4 {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;


        .section3 {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 20px;
            // border-radius: 15px;
            // background: #121429;
            // box-shadow: 20px 20px 60px #0c0d1b,
            // -20px -20px 60px #181b37;

            .section3-title {
                font-size: $font-size-h1;
                color: $white-color;
                font-weight: $font-weight-primary;
                padding: 40px 30px;
                letter-spacing: $letter-spacing-secondary;
                text-transform: $text-transform;
            }

            .countries_stat {

                /* border-collapse: collapse; */
                /* margin-top: 3rem; */
                /* padding-top: 2%; */
                /* margin: 2%; */
                /* display: flex; */
                /* flex-direction: row; */
                /* background: #fff; */
                /* box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1); */
                padding: 0 20px 20px 20px;
                margin: 0 20px 20px 20px;
                overflow: scroll;
                height: 900px;
                z-index: 20;
                border-radius: 15px;
                background: #121429;
                box-shadow: 20px 20px 60px #0c0d1b,
                -20px -20px 60px #181b37;

                .countries_stat-table {
                    color: $blue-sea-color;
                    font-size: $font-size-h3;
                    font-weight: $font-weight-primary;
                    padding: 30px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    text-align: left;
                    // border-bottom: 0.5px solid $secondary-color;
                    top: 0;
                    position: sticky;
                    background-color: $primary-color;
                    z-index: 10;

                    .table-country {
                        width: 40%;
                    }
                    .table-confirmed {
                        width: 20%;
                    }
                    .table-recovered {
                        width: 20%;
                    }
                    .table-deaths {
                        width: 20%;
                    }

                    .country-th,
                    .confirmed-th,
                    .recovered-th,
                    .deaths-th {
                        color: $white-color;
                        font-size: $font-size-h4;
                    }
                }

                .table-th {
                    opacity: 0.7;
                    font-size: $font-size-h3;
                    font-weight: $font-weight-primary;
                    padding: 15px 30px 15px 30px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    text-align: left;
                    z-index: 1;
                    // border-bottom: 0.5px solid $secondary-color;
                    letter-spacing: $letter-spacing-primary;

                    .country-th {
                        width: 40%;
                    }

                    .confirmed-th {
                        width: 20%;
                    }

                    .recovered-th {
                        width: 20%;
                    }

                    .deaths-th {
                        width: 20%;
                    }

                    .country-th,
                    .confirmed-th,
                    .recovered-th,
                    .deaths-th {
                        color: $white-color;
                        font-size: $font-size-h4;
                        z-index: -1;
                    }
                }
            }

        }

        .section4 {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 20px;

            .section4-graph {
                height: 50%;

                .section4-title {
                    font-size: $font-size-h1;
                    color: $white-color;
                    font-weight: $font-weight-primary;
                    padding: 40px 30px;
                    letter-spacing: $letter-spacing-secondary;
                    text-transform: $text-transform;

                }

                .section4-graph-show {
                    color: $white-color;
                    padding: 20px;
                    border-radius: 15px;
                    background: #121429;
                    box-shadow: 20px 20px 60px #0c0d1b,
                    -20px -20px 60px #181b37;


                    .section4-graph-chart {
                        padding: 30px;
                    }
                }

            }
        }
    }
}