/**
*   Statistics Page
*   
*/

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: scroll;
    width: 100%;

    .section1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;

        .section1-title {
            font-size: 32px;
            color: $white-color;
            font-weight: $font-weight-primary;
            padding: 30px;
            letter-spacing: $letter-spacing-secondary;
        }

        .section1-row1,
        .section1-row2 {
            display: flex;
            flex-direction: row;
            width: 100%;

            .row1-total-cases {
                width: 30%;
                margin: 20px 25px;
                padding: 30px;
                border-radius: 15px;
                background: #121429;
                box-shadow: 20px 20px 60px #0c0d1b,
                -20px -20px 60px #181b37;
                text-align: center;
                // border: 1px solid $blue-sea-color;
                // border-radius: 60px;

                .total-cases-numbers,
                .deaths-numbers,
                .active-cases-numbers,
                .fatality-rate-numbers,
                .recoveries-numbers,
                .recovery-rate-numbers {
                    font-size: $font-size-h1;
                    color: $white-color;
                    font-weight: $font-weight-primary;
                    padding: 5px;
                    letter-spacing: $letter-spacing-primary;
                }

                .total-cases-title,
                .deaths-title,
                .active-cases-title,
                .fatality-rate-title,
                .recoveries-title,
                .recovery-rate-title {
                    font-size: $font-size-h3;
                    color: $secondary-color;
                    font-weight: $font-weight-secondary;
                    padding: 5px;
                    letter-spacing: $letter-spacing-primary;
                }
            }
        }
    }

    .section2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;

        .section2-title {
            font-size: $font-size-h1;
            color: $white-color;
            font-weight: $font-weight-primary;
            padding: 40px 30px;
            letter-spacing: $letter-spacing-secondary;
            text-transform: $text-transform;
        }

        .section2-wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 30px;

            .section2-left,
            .section2-center,
            .section2-right {
                width: 33%;
                color: $white-color;
                margin: 20px;
                padding: 30px 30px 50px 30px;
                border-radius: 15px;
                background: #121429;
                box-shadow: 20px 20px 60px #0c0d1b,
                -20px -20px 60px #181b37;

                .title {
                    padding: 20px 30px;
                    margin-bottom: 20px;
                    color: $white-color;
                    letter-spacing: $letter-spacing-primary;

                    strong {
                        margin-left: 10px;
                        //color: $yellow-color;
                        color: $blue-sea-color;
                        letter-spacing: $letter-spacing-primary;
                        font-weight: $font-weight-primary;
                    }
                }
            }
        }
    }

    .section3-section4 {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;


        .section3 {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 20px;
            margin-bottom: 30px;

            .section3-title {
                font-size: $font-size-h1;
                color: $white-color;
                font-weight: $font-weight-primary;
                padding: 40px 30px;
                letter-spacing: $letter-spacing-secondary;
                text-transform: $text-transform;
            }

            .countries_stat {
                padding: 0 20px 20px 20px;
                margin: 0 20px 20px 20px;
                overflow: scroll;
                height: 800px;
                border-radius: 15px;
                background: #121429;
                box-shadow: 20px 20px 60px #0c0d1b,
                -20px -20px 60px #181b37;

                .countries_stat-table {
                    color: $blue-sea-color;
                    font-size: $font-size-h3;
                    font-weight: $font-weight-primary;
                    padding: 30px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    text-align: left;
                    top: 0;
                    position: sticky;
                    background-color: $primary-color;
                    z-index: 3;
                    // border-bottom: 0.5px solid $secondary-color;

                    .table-country {
                        width: 40%;
                    }
                    .table-confirmed {
                        width: 20%;
                    }
                    .table-recovered {
                        width: 20%;
                    }
                    .table-deaths {
                        width: 20%;
                    }

                    .country-th,
                    .confirmed-th,
                    .recovered-th,
                    .deaths-th {
                        color: $white-color;
                        font-size: $font-size-h4;
                    }
                }

                .table-th {
                    opacity: 0.7;
                    font-size: $font-size-h3;
                    font-weight: $font-weight-primary;
                    padding: 15px 30px 15px 30px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    text-align: left;
                    z-index: 1;
                    letter-spacing: $letter-spacing-primary;
                    // border-bottom: 0.5px solid $secondary-color;

                    .country-th {
                        width: 40%;
                    }

                    .confirmed-th,
                    .recovered-th,
                    .deaths-th {
                        width: 20%;
                    }

                    .country-th,
                    .confirmed-th,
                    .recovered-th,
                    .deaths-th {
                        color: $white-color;
                        font-size: $font-size-h4;
                        z-index: -1;
                    }
                }
            }
        }

        .section4 {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 20px;
            // justify-content: center;
            // align-items: center;

            .section4-graph {
                width: 50%;
                height: 100%;
                margin: 30px;

                .section4-title {
                    font-size: $font-size-h1;
                    color: $white-color;
                    font-weight: $font-weight-primary;
                    padding: 40px 30px;
                    letter-spacing: $letter-spacing-secondary;
                    text-transform: $text-transform;
                }

                .section4-graph-show {
                    color: $white-color;
                    padding: 20px;
                    border-radius: 15px;
                    background: #121429;
                    box-shadow: 20px 20px 60px #0c0d1b,
                    -20px -20px 60px #181b37;

                    .section4-graph-chart {
                        padding: 30px;
                        position: relative;

                        .country-picker {
                            color: $white-color;
                            background-color: $primary-color;
                            position: absolute;
                            right: 30px;
                            top: 30px;
                            width: 130px;

                            .country-picker-select {
                                color: $white-color;

                                option {
                                    color: $blue-sea-color;
                                    font-size: $font-size-h1;
                                }
                            }
                        }

                        .title {
                            padding: 5px 0 30px 0 ;
                            color: $white-color;
                            letter-spacing: $letter-spacing-primary;
                            //color: $blue-sea-color;
                            //font-weight: $font-weight-primary;

                            strong {
                                margin-left: 10px;
                                //color: $yellow-color;
                                color: $white-color;
                                letter-spacing: $letter-spacing-primary;
                                font-weight: $font-weight-primary;
                            }
                        }
                    }
                }
            }
        }
    }
}