/**
 * Navbar Component
 *
 */

// @import '../base/base-index';

.navbar {
    background-color: $primary-color;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 9;

    .menu-bars-home {
        width: 40px;
        height: 40px;
        margin-left: 1rem;
        font-size: 1.3rem;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            border-radius: 50%;
            transition: box-shadow 0.3s;
            box-shadow: 0 0 0 1px $white-color;
            padding: 5px;
        }
    }
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-menu {
    background-color: $primary-color;
    width: 300px;
    height: 100vh;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    box-shadow: 0px 10px 24px $black-color;

    .nav-menu-items {
        width: 100%;
        padding: 30px;

        .navbar-toggle {
            background-color: $primary-color;
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .menu-bars {
                width: 40px;
                height: 40px;
                margin-left: 1rem;
                font-size: 1.3rem;
                background: none;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    border-radius: 50%;
                    transition: box-shadow 0.3s;
                    box-shadow: 0 0 0 1px $white-color;
                    padding: 5px;
                }
            }
        }

        .deepverse__logo {
            padding: 10px 20px 20px 30px;
            font-size: $font-size-h4;
            color: $blue-sea-color;
            letter-spacing: $letter-spacing-primary;
            margin-bottom: 15px;
        }

        .nav-text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 8px 0px 8px 16px;
            list-style: none;
            height: 60px;
            font-family: $font-family-primary;
            letter-spacing: $letter-spacing-primary;

            a {
                text-decoration: none;
                color: $white-color;
                font-size: $font-size-h3;
                width: 95%;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 16px;
                border-radius: 0px;

                &:hover {
                    // background-color: $blue-sea-color;
                    color: $white-color;
                    transition: box-shadow 0.3s;
                    box-shadow: 0 0 0 1px $blue-sea-color;
                    // box-shadow: 0px 8px 24px $blue-sea-color;
                }

                span {
                    margin-left: 20px;
                }
            }
        }
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;

        .header__social-media {
            display: flex;
            flex-direction: row;
            padding: 15px;
            justify-content: center;
            align-items: center;
            width: 100%;

            div {
                margin-right: 10px;
                transition: all .2s ease-in-out;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                a {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: $font-size-h3;

                    strong {
                        color: $white-color;
                        margin-left: 10px;
                    }
                }

                &:hover {

                    a {
                        transform: scale(0.98);

                        svg,
                        strong {
                            color: $blue-sea-color;
                        }
                    }
                }
            }
        }

        .footer__organization {
            font-size: $font-size-h5;
            text-align: center;
            padding: 15px 0 15px 0;
            line-height: $line-height-third;
        }
    }
}
