/**
 * Search Component
 *
 */


.app_left {
  width: 450px;
   height: 100%;
//   flex-direction: column;
//   position: relative;
  padding: 10px;

  .loading-data {
    display: flex;
    flex-direction: row;
    // justify-content: start;
    // align-items: start;
    width: 100%;
    position: relative;

    .loading-data-gif {
      // width: 20px;
      // height: 20px;
      // position: absolute;
      // display: flex;
      // justify-content: center;
      // top: 0;
      // left: 0;
      // margin: 0 0 0 0;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loading-data-title {
      display: flex;
      align-items: center;
      font-size: $font-size-h4;
      width: 100%;
      text-align: right;

    }
  }
}

.app_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $blue-sea-color;
  border-radius: 5px;
  // border-radius: 2px;
  color: $white-color;
  //border: none;

  .app_dropdown {
    color: $blue-sea-color;
  }
}


.app_left-top {
  width: 100%;
  padding: 10px 0 20px 0;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

}

.app_left-top-title {
  font-size: $font-size-h3;
  color: $blue-sea-color;
  padding: 20px 0 20px 0;
  font-weight: $font-weight-primary;
}

#select-country {
  border-color: aquamarine;
}

.app_left-bottom {
  width: 100%;
  padding: 10px 0 20px 0;

  .app_left-bottom-title {
    font-size: $font-size-h3;
    color: $blue-sea-color;
    padding: 20px 0 20px 0;
    font-weight: $font-weight-primary;
  }

  // .table-total {
  //   padding: 10px 0 10px 0;

  //   .table-total-title {
  //     margin-top: 10px;
  //     margin-right: 14px;
  //     color: $secondary-color;
  //     font-size: $font-size-h3;
  //     //font-weight: $font-weight-primary;
  //     margin-bottom: 10px;
  //   }

  //   .table-total-cases {

  //     margin-right: 14px;
  //     color: $white-color;
  //     font-size: $font-size-h2;
  //     font-weight: $font-weight-primary;
  //   }
  // }

  
}


.table-ranks,
.table-rank1 {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  position: relative;

  .number,
  .country-name,
  .cases-percent {
    color:$white-color;
  }

  .number {
    margin-right: 14px;
    color: $secondary-color;
    font-size: $font-size-h4;
  }
  .country-name1 {
    margin-right: 14px;
    color: $white-color;
    font-size: $font-size-h3;
    font-weight: $font-weight-primary;
  }

  .country-name {
    margin-right: 14px;
    color: $white-color;
    font-size: $font-size-h4;
  }

  .cases-percent {
    text-align: right;
    color: $white-color;
    font-size: $font-size-h4;
    right: 0;
    position: absolute;
  }
  .cases-percent1 {
    margin-top: 10px;
    margin-right: 14px;
    color: $secondary-color;
    font-size: $font-size-h3;
  }



}