/**
 * Search Component
 *
 */


.app_left {
  width: 340px;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.app_header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $blue-sea-color;
  // border-radius: 2px;
  color: $white-color;
  border: none;
}

#select-country {
  border-color: aquamarine;
}
